body{
    background: #f2f2f2;
    zoom:1;
}
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    min-height: 100%;
    color: #333;
    font-size: 16px;
    font-family: "open_sansregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.main-body{
    margin-top:-21px;
}
