.navbar.top .container-fluid{
    color: #fefefe;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background-color: #e77722;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5822a), color-stop(100%, #e77722));
    background-image: -webkit-linear-gradient(top, #f5822a, #e77722);
    background-image: -moz-linear-gradient(top, #f5822a, #e77722);
    background-image: -ms-linear-gradient(top, #f5822a, #e77722);
    background-image: linear-gradient(top, #f5822a, #e77722);
    border-color: #e77722 #e77722 #aa5412;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.2);
    ms-box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.2);
    border-radius: 0;
}
.navbar.top .container-fluid ul{
    border-left: 1px solid #b8560b;
}
.navbar.top .container-fluid .icons.left li{
    width:49px;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    float: left;
    border-right: 1px solid #b8560b;
    border-left: 1px solid #f29f56;

}

.navbar.top .container-fluid .right li{
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    float: left;
    border-right: 1px solid #b8560b;
    border-left: 1px solid #f29f56;

}
.navbar.top .container-fluid .right li a{
   font-family: "open_sansregular","Helvetica Neue",Helvetica,Arial,sans-serif;
   color:white;
   font-size: 1.3em;
   text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.navbar.top .container-fluid li:hover{
  color: #fefefe;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #f5822a;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  color-stop(0%,  #e77722),  color-stop(100%,  #f5822a));
    background-image: -webkit-linear-gradient(top,  #e77722,  #f5822a);
    background-image: -moz-linear-gradient(top,  #e77722,  #f5822a);
    background-image: -ms-linear-gradient(top,  #e77722,  #f5822a);
    background-image: linear-gradient(top,  #e77722,  #f5822a);
    border-color: #f5822a #f5822a #c95d09;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 9px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 9px 1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 0 9px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 9px 1px rgba(0, 0, 0, 0.15);

}
.navbar.top .container-fluid  .icons.left i{
    color: #b65827;
    vertical-align: middle;
    padding-left:5%;
}

.main-nav{
    border-radius: 0 0 0 ;
    -webkit-box-shadow:0 0 0;
    -moz-box-shadow: 0 0 0;
    -ms-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border: solid black 0px;
    background: white;
}
.main-nav .container-fluid ul a:hover {
background: none;
text-shadow: none;
color: #f79b54;
}

.main-nav .container-fluid .active a {
    background:white !important;
    color: #f79b54 !important;
    border-radius: 0 0 0 ;
    -webkit-box-shadow:0 0 0;
    -moz-box-shadow: 0 0 0;
    -ms-box-shadow: 0 0 0;
    box-shadow: 0 0 0
}

.navbar-brand.orange {
    color: #f79b54;
}