{% extends "./user/layout.html" %}

{%block content%}
<div class="content__section--home">

<div class="content__section--featured--home"><h2 class="no-leading">Uitgelicht</h2>

<div class="event__archive__grid__wrapper">

<div class="event__archive__item">

<div class="js-block">

<div class="event__headline"> <time datetime="2014-03-26">

<span class="date">

<span class="date__day">wo
</span>

<span class="date__date">26 mrt
</span>
</span> </time><a href="http://cultuurpodiumboerderij.nl/programma/banned-from-utopia/" title="Banned From Utopia"><h4 class="no-margin">Banned From Utopia</h4> </a>
</div>

<div class="event__image"> <a href="http://cultuurpodiumboerderij.nl/programma/banned-from-utopia/" class="mouseover--orange" title="Banned From Utopia"> <img src="http://cdn4.cultuurpodiumboerderij.nl/assets/Banned-From-Utopia-3.jpg" alt="Banned From Utopia"/> </a>
</div>

<div class="event__details">

<p>Voor het eerst te zien in Nederland: Banned From Utopia,&#8230;</p>
</div>
</div><a href="http://www.ticketmaster.nl/event/124619?brand=nl_boerderij&amp;camefrom=boerderij" title="Bestel tickets voor Banned From Utopia" class="btn__ticket"rel="external">Bestel tickets</a>
</div>

<div class="event__archive__item">

<div class="js-block">

<div class="event__headline"> <time datetime="2014-04-12">

<span class="date">

<span class="date__day">za
</span>

<span class="date__date">12 apr
</span>
</span> </time><a href="http://cultuurpodiumboerderij.nl/programma/gazpacho/" title="Gazpacho"><h4 class="no-margin">Gazpacho</h4> </a>
</div>

<div class="event__image"> <a href="http://cultuurpodiumboerderij.nl/programma/gazpacho/" class="mouseover--orange" title="Gazpacho"> <img src="http://cdn4.cultuurpodiumboerderij.nl/assets/Gazpacho-2.jpg" alt="Gazpacho"/> </a>
</div>

<div class="event__details">

<p>De Noorse band Gazpacho werd in 1996 opgericht door Jon-Arne&#8230;</p>
</div>
</div><a href="http://www.ticketmaster.nl/event/124589?brand=nl_boerderij&amp;camefrom=boerderij" title="Bestel tickets voor Gazpacho" class="btn__ticket"rel="external">Bestel tickets</a>
</div>
</div><a href="http://cultuurpodiumboerderij.nl/programma" class="btn__orange double">Bekijk programma</a>
</div>

<div class="content__section--soon--home"><h2 class="no-leading">Binnenkort</h2>

<div class="event__archive__item">

<div class="js-block">

<div class="event__headline"> <time datetime="2014-03-20">

<span class="date">

<span class="date__day">do
</span>

<span class="date__date">20 mrt
</span>
</span> </time><a href="http://cultuurpodiumboerderij.nl/programma/eager-janika/" title="Eager + Janika"><h4 class="no-margin">Eager + Janika</h4> </a>

<span class="ellipsis">
</span>
</div>

<div class="event__details event__headblock">
<ul class="list--plain">
<li>

<span>Zaal:
</span> <a href="Onbekend" title="Podiumcafé">Podiumcafé</a></li>
<li>

<span>Aanvang:
</span> 20:30</li>
<li>

<span>Entree:
</span> Gratis</li>
</ul><a href="http://cultuurpodiumboerderij.nl/programma/eager-janika/" title="Eager + Janika" class="thumbnail"> <img src="http://cdn4.cultuurpodiumboerderij.nl/assets/Eager-1-290x290.jpg" alt="Eager + Janika"/> </a>
</div>
</div><a href="http://cultuurpodiumboerderij.nl/programma/eager-janika/" title="Bestel tickets voor Eager + Janika" class="btn__ticket">Gratis entree</a>
</div>

<div class="event__archive__item">

<div class="js-block">

<div class="event__headline"> <time datetime="2014-03-22">

<span class="date">

<span class="date__day">za
</span>

<span class="date__date">22 mrt
</span>
</span> </time><a href="http://cultuurpodiumboerderij.nl/programma/lifesigns/" title="Lifesigns"><h4 class="no-margin">Lifesigns (Verplaatst)</h4> </a>

<span class="ellipsis">
</span>
</div>

<div class="event__details event__headblock">
<ul class="list--plain">
<li>

<span>Zaal:
</span> <a href="Onbekend" title="Jupiler Zaal">Jupiler Zaal</a></li>
<li>

<span>Aanvang:
</span> 20:30</li>
<li>

<span>Entree:
</span> 22,-</li>
</ul><a href="http://cultuurpodiumboerderij.nl/programma/lifesigns/" title="Lifesigns" class="thumbnail"> <img src="http://cdn4.cultuurpodiumboerderij.nl/assets/Lifesigns-3-290x290.jpg" alt="Lifesigns"/> </a>
</div>
</div><a href="http://www.ticketmaster.nl/event/117905?brand=nl_boerderij&amp;camefrom=boerderij" title="Bestel tickets voor Lifesigns" class="btn__ticket"rel="external">Bestel tickets</a>
</div>

<div class="event__archive__item">

<div class="js-block">

<div class="event__headline"> <time datetime="2014-03-22">

<span class="date">

<span class="date__day">za
</span>

<span class="date__date">22 mrt
</span>
</span> </time><a href="http://cultuurpodiumboerderij.nl/programma/relic-floyd/" title="Dutch Floyd presents Relic Floyd"><h4 class="no-margin">Dutch Floyd</h4> </a>

<span class="ellipsis">
</span>
</div>

<div class="event__details event__headblock">
<ul class="list--plain">
<li>

<span>Zaal:
</span> <a href="Onbekend" title="Jupiler Zaal">Jupiler Zaal</a></li>
<li>

<span>Aanvang:
</span> 20:30</li>
<li>

<span>Entree:
</span> 18,-</li>
</ul><a href="http://cultuurpodiumboerderij.nl/programma/relic-floyd/" title="Dutch Floyd presents Relic Floyd" class="thumbnail"> <img src="http://cdn4.cultuurpodiumboerderij.nl/assets/Dutch-Floyd-Relic-Floyd-290x290.jpg" alt="Dutch Floyd presents Relic Floyd"/> </a>
</div>
</div><a href="http://www.ticketmaster.nl/event/125335?brand=nl_boerderij&amp;camefrom=boerderij" title="Bestel tickets voor Dutch Floyd presents Relic Floyd" class="btn__ticket"rel="external">Bestel tickets</a>
</div>

<div class="event__archive__item">

<div class="js-block">

<div class="event__headline"> <time datetime="2014-03-23">

<span class="date">

<span class="date__day">zo
</span>

<span class="date__date">23 mrt
</span>
</span> </time><a href="http://cultuurpodiumboerderij.nl/programma/kofferjam/" title="Kofferjam"><h4 class="no-margin">Kofferjam - Jamsessie</h4> </a>

<span class="ellipsis">
</span>
</div>

<div class="event__details event__headblock">
<ul class="list--plain">
<li>

<span>Zaal:
</span> <a href="Onbekend" title="Podiumcafé">Podiumcafé</a></li>
<li>

<span>Aanvang:
</span> 14.30</li>
<li>

<span>Entree:
</span> Gratis</li>
</ul><a href="http://cultuurpodiumboerderij.nl/programma/kofferjam/" title="Kofferjam" class="thumbnail"> <img src="http://cdn4.cultuurpodiumboerderij.nl/assets/Kofferjam-1-290x290.jpg" alt="Kofferjam"/> </a>
</div>
</div><a href="http://cultuurpodiumboerderij.nl/programma/kofferjam/" title="Bestel tickets voor Kofferjam" class="btn__ticket">Gratis entree</a>
</div>
</div>

<div class="content__section--news--home"><h2 class="no-leading">Laatste nieuws</h2>

<div class="news__archive__grid__wrapper">

<div class="news__archive__item">

<div class="js-block">

<div class="news__image"> <a href="http://cultuurpodiumboerderij.nl/nieuws/dutch-floyd-presenteert-pink-floyd-materiaal-periode-1969-1977/" class="mouseover--orange" title="Dutch Floyd presenteert Pink Floyd materiaal uit de periode 1969-1977"> <img src="http://cdn4.cultuurpodiumboerderij.nl/assets/Dutch-Floyd-Relic-Floyd1.jpg" alt="Dutch Floyd presenteert Pink Floyd materiaal uit de periode 1969-1977"/> </a>
</div>

<div class="news__details"> <a href="http://cultuurpodiumboerderij.nl/nieuws/dutch-floyd-presenteert-pink-floyd-materiaal-periode-1969-1977/" title="Dutch Floyd presenteert Pink Floyd materiaal uit de periode 1969-1977"><h4 class="no-leading">Dutch Floyd presenteert Pink Floyd materiaal uit de periode 1969-1977</h4> </a>

<p>In 2014 zetten 4 muzikanten van DUTCH FLOYD een project op onder de naam&#8230;</p> <a href="" title="" class="arrow">Lees verder</a>
</div>
</div>
</div>

<div class="news__archive__item">

<div class="js-block">

<div class="news__image"> <a href="http://cultuurpodiumboerderij.nl/nieuws/verkiezing-beste-poppodium-nederland/" class="mouseover--orange" title="3voor12 Verkiezing beste poppodium van Nederland"> <img src="http://cdn4.cultuurpodiumboerderij.nl/assets/Beste-poppodium.jpg" alt="3voor12 Verkiezing beste poppodium van Nederland"/> </a>
</div>

<div class="news__details"> <a href="http://cultuurpodiumboerderij.nl/nieuws/verkiezing-beste-poppodium-nederland/" title="3voor12 Verkiezing beste poppodium van Nederland"><h4 class="no-leading">3voor12 Verkiezing beste poppodium van Nederland</h4> </a>

<p>Het is de plek waar je waar je dé concerten (en daarmee dé momenten)&#8230;</p> <a href="" title="" class="arrow">Lees verder</a>
</div>
</div>
</div> <a href="http://cultuurpodiumboerderij.nl/nieuws" class="btn__orange double">Nieuwsoverzicht</a>
</div>
</div>
</div>
{%endblock%}